<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty name="name" source="spring.application.name" />

    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} %-5level %logger{36} %X{X-Request-ID} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- Info File Appender -->
    <appender name="INFO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/logs/backend/info/info.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} %X{X-Request-ID} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/logs/backend/info/info-%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <!-- Warn File Appender -->
    <appender name="WARN_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/logs/backend/warn/warn.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} %X{X-Request-ID} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/logs/backend/warn/warn-%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <!-- Error File Appender -->
    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/logs/backend/error/error.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} %X{X-Request-ID} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/logs/backend/error/error-%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <!-- Root Logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="INFO_FILE" />
    </root>

    <!-- Warn Logger -->
    <logger name="org.example" level="WARN">
        <appender-ref ref="WARN_FILE" />
    </logger>

    <!-- Error Logger -->
    <logger name="org.example" level="ERROR">
        <appender-ref ref="ERROR_FILE" />
    </logger>

</configuration>
